<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable compression for better performance -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    
    <!-- Handle Angular routing - redirect all requests to index.html -->
    <rewrite>
      <rules>
        <!-- Rule for handling Angular routes -->
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Set default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- Static content caching and MIME types -->
    <staticContent>
      <!-- Set cache control headers for static assets -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
      
      <!-- MIME type mappings for Angular files -->
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".json" />
      <remove fileExtension=".js" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>

    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <!-- Prevent MIME type sniffing -->
        <add name="X-Content-Type-Options" value="nosniff" />
        
        <!-- XSS Protection -->
        <add name="X-XSS-Protection" value="1; mode=block" />
        
        <!-- Prevent clickjacking -->
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        
        <!-- Content Security Policy (adjust as needed for your app) -->
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; font-src 'self' data:; img-src 'self' data: https:; connect-src 'self' https:;" />
        
        <!-- Remove server information -->
        <remove name="Server" />
      </customHeaders>
    </httpProtocol>

    <!-- Remove unwanted headers -->
    <httpHeaders>
      <remove name="X-Powered-By" />
    </httpHeaders>

    <!-- Error pages - redirect 404s to index.html for Angular routing -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- Compression settings for better performance -->
    <httpCompression>
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
  </system.webServer>

  <!-- System.web section for compatibility -->
  <system.web>
    <!-- Set compilation debug to false for production -->
    <compilation debug="false" />
    
    <!-- Custom errors -->
    <customErrors mode="RemoteOnly" defaultRedirect="~/index.html" />
    
    <!-- Session state (disable if not needed for better performance) -->
    <sessionState mode="Off" />
    
    <!-- Disable viewstate if not using Web Forms -->
    <pages enableViewState="false" />
  </system.web>
</configuration>